#requisition {
    max-width: 1440px;
    padding: 0 2rem 2rem 2rem;
    margin: 0 auto;
    color: black;

    h1 {
        font-size: 2rem;
        margin: 0 0 2rem 0;
        color: var(--purple-text);
    }


    .requisition-container {
        border-radius: 8px;
        padding: 1.5rem;
        background: white;
    }

    .collection-item-title {
        color: var(--purple-text);
        display: flex;
        gap: 0.9375rem 1.875rem;
        justify-content: space-between;
        align-items: center;

        small {
            font-size: 0.75rem;
        }
    }

    .collection-items {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.9375rem;
        margin-bottom: 1.5rem;
    }

    .selected-item {
        border: 3px solid #000000 !important;
    }

    .item {
        display: flex;
        transition: all 0.1s;
        border: 3px solid transparent;
        flex: 1 1 150px;
        max-width: 220px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        min-height: 200px;

        span {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            color: black;
        }

        img {
            max-width: 120px;
        }
    }

    .collection-item-title {
        display: flex;
        gap: 0.9375rem 1.875rem;
        justify-content: space-between;
        align-items: center;

        small {
            font-size: 0.75rem;
        }
    }

    .table-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.dialog-content-map {
    max-width: 40vw;
    position: fixed;
}

.dialog-content-alert {
    position: fixed;
}

.dialog-black-text {
    color: #000000;
}

.dialog-button-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
}

.cancel-button {
    background: rgb(250, 60, 60);
}

.confirm-button {
    background: #198754;
}

.centered-row {
    max-width: 280px;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto !important;
    gap: 1rem !important;
}

.badge {
    width: 80px;
    text-align: center;
}

.input-solicitation {
    padding: 0.5rem 0.5rem;
    border-radius: 12px;
    max-width: 70px;
    border: transparent;
    color: black;
    border: 1px solid transparent;
    background: white;
    font-weight: 600;
}