#home-container {
    display: flex;
    max-width: 1440px;
    justify-content: center;
    min-height: calc(100vh - 164px);
    gap: 0 4rem;
    padding: 2rem 4rem;
    margin: 0 auto;

    .home {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 164px);
        padding: 0 4rem;
        margin: 0 auto;

    }

    .img-container {
        max-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clean-world {
        padding: 0 4rem;
        max-width: 550px;
        max-height: 700px;
    }

    .home-title {
        color: var(--purple-text);
        font-size: 3.375rem;
        line-height: 5.0625rem;
    }

    .home-subtitle {
        color: var(--purple-text);
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .register {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        background: var(--green-button);
        font-size: 1.2rem;
        height: 72px;
        width: 100%;
        margin-right: auto;
        max-width: 360px;
        font-weight: 600;
        color: black;

        strong {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
        }

        span {
            display: flex;
            box-shadow: 1px 0 5px -2px #888;
            padding: 0 1.5625rem;
            align-items: center;
            border-radius: 0.5rem 0 0 0.5rem;
            height: 100%;
            background: inherit;
        }
    }

    @media screen and (min-width: 1500px) {
        padding: 5rem 4rem;
    }

    @media screen and (max-width: 960px) {
        padding: 1rem 1.5rem;

        .home-title {
            font-size: 3rem;
            margin-top: 0;
            line-height: 4.5rem;
        }

        .clean-world {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .img-container {
            display: none;
        }

        .clean-world {
            width: 100%;
        }
    }
}