#login-form {
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 1.5rem 0;
	flex-direction: column;

	.input-group {
		flex: 1 !important;
	}

	.button-submit {
		height: 45px;
		width: 100%;
		background-color: var(--green-button);
		color: black;
		margin-top: 1.5rem;

		&:hover {
			background: #3fd3af !important;
		}
	}

	.link {
		color: #00bd7e;
		width: 190px;
		border: none;
		text-decoration: none;

		&:hover {
			background: transparent !important;
		}
	}
}
