#register-container {
    max-width: 770px;
    min-height: calc(100vh - 164px);
    padding: 2.25rem 4rem;
    margin: 0 auto;
    border-radius: 12px;

    .register {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1.125rem 4rem;
        border-radius: 12px;
        background: #ffff;
        min-height: 324px;
    }

    .register-deck {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
        justify-items: center;
    }

    .register-card {
        width: 100%;
        user-select: none;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.5rem;
        align-items: center;
        transition: 0.5s linear;
        cursor: pointer;
        color: black;
        background: #e1faec;

        span {
            margin-top: 1.5rem;
            font-weight: 600;
        }

        &:hover {
            background: rgb(220, 226, 220);
        }
    }

    *:not(input) {
        user-select: none;
    }

    h1 {
        font-size: 1.8rem;
        color: #000000;
        text-align: center;
    }

    @media screen and (max-width: 765px) {
        padding: 1rem 2rem;

        .register {
            padding: 1.125rem 2rem;
        }
    }
}